<a href="https://colab.research.google.com/github/DGuilherme/BasicDT/blob/master/GeneticAlgorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Genetic Algorithm Implmentation

# Imports

In [3]:
import numpy
import pandas as pd
#import ga

# Datasets


*   List item
*   List item

In [15]:

url = 'https://raw.githubusercontent.com/DGuilherme/EnergyProductionScheduling/main/PhaseONE/Datasets/BJSP102_TestInstances/BJSP102_1.csv?token=GHSAT0AAAAAABQZHKAQOQ2P6F2JSPVBPP54YPJ7BZA'
production_scheduling_maintenance_duedate_constraint = pd.read_csv(url)

In [16]:
production_scheduling_maintenance_duedate_constraint.describe()

       Unnamed: 3  Unnamed: 4  ...  Unnamed: 19  Unnamed: 20
count   40.000000   32.000000  ...          0.0          0.0
mean     9.957250    1.198438  ...          NaN          NaN
std     10.398949    1.933157  ...          NaN          NaN
min      0.000000    0.000000  ...          NaN          NaN
25%      2.000000    0.000000  ...          NaN          NaN
50%      4.000000    0.790000  ...          NaN          NaN
75%     19.717500    1.010000  ...          NaN          NaN
max     30.020000    9.000000  ...          NaN          NaN

[8 rows x 18 columns]

In [17]:
production_scheduling_maintenance_duedate_constraint.head

<bound method NDFrame.head of                        Job ID     1  ... Unnamed: 19  Unnamed: 20
0      Type (job/maintenance)   job  ...         NaN          NaN
1                    Resource     9  ...         NaN          NaN
2             Processing time  5.36  ...         NaN          NaN
3    Due date (soft and hard)  61.3  ...         NaN          NaN
4                Release date     0  ...         NaN          NaN
..                        ...   ...  ...         ...          ...
264  Due date (soft and hard)   144  ...         NaN          NaN
265              Release date   144  ...         NaN          NaN
266            Preceding Jobs   NaN  ...         NaN          NaN
267           Precedence Type   NaN  ...         NaN          NaN
268                       NaN   NaN  ...         NaN          NaN

[269 rows x 21 columns]>

# Convert Dataset
Convert dataset to be usable

In [ ]:
headers = [
           "Job",
           "Type",
           "Resource",
           "Soft Due Data",
           "Hard Due Date",
           "Resource",
           "Release date",
           "Preceding Jobs",
           "Precedence Type"
           ]